*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color:whitesmoke  ;
  font-family: sans-serif;
}
h1{
  color:darkcyan 
}

#Bild {
width: 300px;
height: 300px;
margin-left: auto;
margin-right: auto;
}
